# Node
node_modules/
dist/
build/

# Env
.env
.env.local

# Logs
logs/
*.log

# Data (VERY IMPORTANT - your PDFs)
data/
backend/data/
backend/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
coverage/